<p>
  The KAUST Visualization Lab is hosting an <em>Introduction to Conda for (Data) Scientists</em> 
  workshop. Conda is  an open source package and environment management system that runs on 
  Windows, macOS and Linux. Conda installs, runs, and updates packages and their dependencies. 
  Conda easily creates, saves, loads, and switches between environments on your local computer. 
  While Conda was created for Python programs it can package and distribute software for any 
  languages such as R, Ruby, Lua, Scala, Java, JavaScript, C/ C++, FORTRAN. This lesson motivates 
  the use of Conda as a development tool for building and sharing project specific software 
  environments that facilitate reproducible (data) science workflows.
</p>

<p>
  This hands-on lesson is part of the <em>Introduction to Data Science Workshop Series</em> 
  being offered by the KAUST Research Computing Core Labs as part of our on-going efforts to build 
  capacity in core data science skills at KAUST. The curriculum of the 
  <em>Introduction to Data Science Workshop Series</em> largely follows the core 
  <a href="{{site.swc_site}}">Software Carpentry</a> curriculum and covers programming in Python, 
  programming in R, shell scripting, version control using Git, and database programming with SQL. 
</p> 

<p align="center">
  <em>
    For more information on what Software Carpentry teaches and why, please see their paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
  
 
